.main_chat
  .main_chat__group_info
    .main_chat__group_info--left
      .main_chat__group_info--left__name
        grop
      .main_chat__group_info--left__member
        members
    .main_chat__group_info__edit
          = g.name + "  "
    = link_to "#", class: "main_chat__group_info__edit" do
      Edit
  .main_chat__messages
    .main_chat__messages__message
    = render @messages
  = form_for [@group, @message], html: {class: "main_chat__create"} do |f|
    .main_chat__create__box
      =f.text_field :body, placeholder: "type a message", class: "main_chat__create__box__new_message"
      %label.main_chat__create__box__img_btn
        = icon('far', 'image')
        = f.file_field :image, class: "main_chat__create__box__img_btn__link"
    = f.submit "Send", class: "main_chat__create__send"
