.main_chat
  .group_info
    .group_info--left
      .group_info--left__name
        = @group.group_name
      .group_info--left__member
        members:
        - @group.users.each do |g|
          = g.name + "  "
    = link_to edit_group_path(@group), class: "edit" do
      Edit
  .messages
    = render @messages
  = form_for [@group, @message], html: {class: "create"} do |f|
    .box
      =f.text_field :body, placeholder: "type a message", class: "new_message"
      %label.img_btn
        = icon('far', 'image')
        = f.file_field :image, class: "img_btn__link"
    = f.submit "Send", class: "send"
